/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 13.12.2016, 13:58:54
    Author     : PaulsBook
*/

.thumb {
    -fx-background-color: #fff;
    -fx-padding: 5px;
    -fx-font: 16px "Serif";
   
}

.sliderRoot {
    -fx-padding: 30 0 30 160;
    -fx-background-color: rgba(0, 100, 100, 0.0);
    -fx-alignment: center;
    -fx-max-width: 400;
}

.slider {
    -fx-min-width: 400;
}

.wrongAnswersBox {
    -fx-padding: 10 0 50 190;    

}

.buttonBar {
    -fx-border-style: solid;
    -fx-border-width: 1;
    -fx-border-color: grey;
}

.view2ContentBox {
    -fx-border-style: solid;
    -fx-border-width: 3px;
    -fx-border-color: #2ECCFA;
}

.categoryBox {
    -fx-border-style: solid;
    -fx-border-width: 2 0 2 0;
    -fx-border-color: #2ECCFA;
}

.learnModusBox {
    -fx-border-style: solid;
    -fx-border-width: 2 0 2 0;
    -fx-border-color: #2ECCFA;
}